[core]
	editor = cursor
	excludesfile = /Users/abe/.gitignore
[init]
	defaultBranch = main
[user]
	name = Abe Isleem
	email = a.f_isleem@hotmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
